#content_wrapper{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #955e91;
}
#chat{
    width: 100%;
    max-width: 800px;
    position: absolute;
    
    height: 100%;
    max-height: 800px;

    display: inline-block;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    background: #181c24;
}
#chat header{
    position: relative;
    top: 0;

    width: 100%;
    height:100px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #587ac3;
}
#chat header img{
    position: relative;
    top:25px;
    bottom: 25px;
    right: 0;
}

#chat .chat_messages{
    background: #FF0;
    width: 100%;
    
}
.chat_messages span{
    color: #181c24;
}
#send_btn{
    position: absolute;
    width: 100px;
    left: 700px;
    height: 40px;
    cursor: pointer;
    color:white;
    font-family: Consolas;
    border: none;
    background: #3498db;
}

#chat footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: baseline;
}


#chat_aux{
    font-size: calc(18px);
    padding: 12px 10px;
    font-size: 18px;
    height: 40px;
    display: flex;
    border: none;
    flex-direction: column;
    top: 0px;
    font: bold 600;
    font-family: Arial;
    background: #ffffff;
    border-top:#a09f9f solid 1px;
    outline: #25989c unset;
    width: 100%;
    text-align: left;
    position: relative;
}

#chat header h1{
    position: relative;
    top:20px;
    bottom: 25px;
    left: 10px;

    font-size: 18px;
}
#chat .chat_messages{
    background: #FFF;
    overflow-y: scroll;
    width: 100%;
    height:70%;

}
#user_name{
    font-size: 20px;
    color: red;
}
.Members
{
    position: relative;
    border-bottom: #a09f9f solid 1px;
    border-top: #a09f9f solid 1px;
    width: 300px;
    min-height: 100px;
    left: -515px;
    
    word-wrap: break-word;
    padding: 10px;
    display: flex;
    
    flex-direction: column;
}


