/*
Do not write nothing here

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #FFF;
    background: #ebf2f5;
}

body,input,button,textarea{
    /*Fonte*/
    font: 600 18px sans-serif;
}