#landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    
    background: #495369;
    
}

#landing-page .main{
    position: relative;
    width: 100%;
    max-width: 500px;
    
    height: 100%;
    max-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 12px;
    border-radius: 10px;
    
    background: #22252c;

    box-shadow: 10px 5px 5px black;
}
#landing-page .main img{
    position: absolute;
    top: 125px;
}
#landing-page .main a{
    color: #FFF;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #30394d;
}
#landing-page .main .register{
    position: absolute;

    height: 40px;
    width: 70px;
    bottom: 20px;
    bottom: 50px;
    left: 20px;

    border-radius: 5px;
}

#landing-page .main form .user_auth{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#landing-page .main .btn_go{
    position: absolute;
    height: 40px;
    width: 70px;
    bottom: 50px;
    right: 20px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    transition: 0.5s;
}

#landing-page .main form .pass_auth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#landing-page .main a:hover{
    background-color: skyblue;
}

