#landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    
    background: #495369;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


body{
    color: #FFF;
    background: #ebf2f5;
}

body,input,button,textarea{
    /*Fonte*/
    font: 600 18px sans-serif;
}
#landing-page .main{
    position: relative;
    width: 100%;
    max-width: 500px;
    
    height: 100%;
    max-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 12px;
    border-radius: 10px;
    
    background: #22252c;

    box-shadow: 10px 5px 5px black;
}
#landing-page .main img{
    position: absolute;
    top: 125px;
}

#landing-page .main form .user_auth{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#landing-page .main form .pass_auth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#landing-page .main a{
    position: absolute;
    height: 40px;
    width: 70px;
    bottom: 50px;
    right: 20px;
    background-color: #30394d;
    
    display:flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    transition: 0.5s;
}

#landing-page .main a:hover{
    background-color: skyblue;
}

