.Main-Page{
    background: #1a1b1d;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Main-Page-panel{
    background: #495369;
    height: 1000vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Main-Page-Tags{
    background: #2e2f33;
    position: relative;
    height: 120px;
    width: 600px;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    top: 20px;
    right: 200px;
}
.user_tags{
    margin-top: 10px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Main-Page-User{
    background: #2e2f33;
    display: flex;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -75px;
    left: 400px;
}
.Main-Page-Chat{
    background: #2e2f33;
    display: flex;
    width: 580px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 200px;
    top: -110px;
}