.Main-Page{
    background: #31343b;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Main-Page-Aleatori-Box{
    background: #22252c;
    position: relative;
    width: 100vw;
    height: 10vh;
}

#Main-Page-Aleatori-Box-Header{
    font-size: calc(30px);
    color: white;
    position: relative;
    top: -10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 186px;
}

#Main-Page-Aleatori-Box-Header span:nth-child(1)
{
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#25e0e0,#d504ff);
    animation: animate1 2s linear infinite;
}
#Main-Page-Aleatori-Box-Header span:nth-child(2)
{
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left,#25e0e0,#d504ff);
    animation: animate2 2s linear infinite;
}
@keyframes animate1
{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
    
} 
@keyframes animate2
{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
