.Main-Page{
    background: #31343b;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.feed
{
    background: #1d1f24;
    width: 500px;
    height: 100vh;
    color: rgb(228, 228, 228);
    font-size: 24px;
    align-items: flex-start;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 0px;
    position: relative;
}

.feed li{
    display: flex;
    background: #2f3135;
    flex-direction: column;
    width: 95%;
    padding: 10px 20px;
    margin: 10px 10px;
}
.tags-div{
    background: #202020;
    height: 100px;
    width: 385px;
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    left: 0;
    top: 80px;
    border: #888b91;
    position: absolute;
    overflow: hidden;
}
.tags{
    box-shadow: #888b91;    
    color: rgb(228, 228, 228);
    padding: 10px 0;
    position: sticky;
    scrollbar-width: inherit;
}
.user-div{
    background: #202020;
    height: 100vh;
    width: 385px;
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    right: 0;
    top: 80px;
    border: #888b91;
    position: absolute;
    overflow: hidden;
}
