.Redeem-box
{
    display: flex;
    background: #22252c;
    flex-direction: column;
    min-height: 87vh;
    min-width: 50vw;
    align-items: center;
}
.Redeem-Aleatori-Box-input
{
    font-size: calc(18px);
    padding: 12px 10px;
}

.former-rederm{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-containere div{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.Redeem-btn
{
    margin-top: 5rem;
    background: #61dafb;
    border-radius: 10px;
    border: 0;
    font-family: Segoe UI;
    font-size: 25px;
    text-align: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.BOX{
    font-size: 18px;
    height: 40px;
    display: flex;
    border: none;
    padding: 10px 10px;
    font: bold 600;
    font-family: Arial;
    background: #3a3f49;
    outline: #25989c unset;
    width: 30vw;
    text-align: left;
    margin-left: 10px;
}

.Redeem-box div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}