form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form div:first-child{
    display: flex;
    flex-direction: column;
    width: 50%;
} */

.Register-Aleatori{
    background: linear-gradient(to bottom, #25989c , #791cc5 205%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Register-Aleatori-Box{
    background: #22252c;
    min-height: 80vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Register-Aleatori-Box-Header{
    font-size: calc(30px);
    color: white;
    position: relative;
    top: -30px;
    overflow: hidden;
}

#Register-Aleatori-Box-Header span:nth-child(1)
{
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#25e0e0,#d504ff);
    animation: animate1 2s linear infinite;
}
#Register-Aleatori-Box-Header span:nth-child(2)
{
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left,#25e0e0,#d504ff);
    animation: animate2 2s linear infinite;
}
@keyframes animate1
{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
    
} 
@keyframes animate2
{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

#Register-Aleatori-Box-input{
    font-size: calc(18px);
    color: #65696d;
}

.Register-Aleatori-Box input[type = 'Username'], .Login-Aleatori-Box input[type = 'Password']{
    font-size: 18px;
    height: 40px;
    display: flex;
    border: none;
    font: bold 600;
    color: white;
    font-family: Arial;
    background: #3a3f49;
    outline: #25989c unset;
    width: 30vw;
    text-align: left;
    margin-left: 10px;
}
#Register-Aleatori-Box-forget-passwd{
    color: #4cd8dd;
    text-align: center;
}
#Register-Aleatori-Box-login_submit{
    color: #4cd8dd;
    text-align: center;
    background: #3a3f49;
    width: 120px;
    text-decoration: none;
    height: 35px;
    border-radius: 5px;
}


#register-button{
    margin-top: 2rem;
    background: #61dafb;
    border-radius: 10px;
    border: 0;
    font-family: Segoe UI;
    font-size: 25px;
    text-align: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

  .input-container div{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }